<h2 class="new-dog" id="new-meetup-title">Edit Meetpup!</h2>

<div class="callout secondary" id="new-dog">
  <%= form_for(@meetup) do |f| %>

  <div class=" columns field">
    <h4 id="field-text">
      <%= f.label :location %><br />
      <%= f.text_field :location , autofocus: true, autocomplete: "location" %>
    </h4>
  </div>


  <div class="">
    <div class="columns small-6 field">
      <h4 id="field-text">
        <%= f.label :date %><br />
        <%= f.text_field :date, autocomplete: "date" %>
      </h4>
    </div>

    <div class="columns small-6 field">
      <h4 id="field-text">
        <%= f.label :time %><br />
        <%= f.text_field :time, autocomplete: "date" %>
      </h4>
    </div>
  </div>

  <div class="columns field">
    <h4 id="field-text">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </h4>
  </div>

  <div class="actions">
    <h4 id="field-text">
      <%= f.submit "Update" %>
    </h4>
    <p><%= link_to "Delete Meetup", meetup_path(@meetup), method: :delete, data: { confirm: "are you sure?" } %></p>
  </div>
  <% end %>

  <% if !@errors.nil? %>
  <ul>
    <% @errors.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>
