<!DOCTYPE html>
<html>
<head>
  <title>DogMeetups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="" id="nav-bar">
  <nav class="snip1189 nav-bar" id="nav-bar">
    <ul class="title-area">
      <div class="columns small-9">

        <li class="name">
          <h4 className="columns small-3" id="nav-bar"><a href="/">Home</a></h4>
        </li class="name">

        <li >
          <h4 className="columns small-3" id="nav-bar">
            <% if current_user %>
            <%= link_to 'Your Profile', user_path(current_user.id) %>
            <% else %>
            <%= link_to 'Your Profile' %>
            <% end %>
          </h4>
        </li>

        <li>
          <h4 className="columns small-3" id="nav-bar">
            <%= link_to 'Dog Meetups', meetups_path %>
          </h4>
        </li>

        <li>
          <h4 className="columns small-3" id="nav-bar"><a href="/">More Info</a></h4>
        </li>
      </div>
      <div class="columns small-3">
        <%- if current_user -%>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </div>
    </ul>
</div>

    <section class="">
      <ul class="right">
      </ul>
    </section>
  </nav>

  <div class="row">
    <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
    <%- end -%>
  </div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
